


.fs20{
	font-size: 20rpx;
}
.fs24{
	font-size: 24rpx;
}
.fs28{
	font-size: 28rpx;
}
.fs30{
	font-size: 30rpx;
	}
.operation-container{
	height: 128rpx;
	padding: 18rpx 0;
	background: #ffffff;
}
.radius {
	border-radius: 16rpx;
}

.top-radius{
	border-radius: 16rpx 16rpx 0 0;
}

.bottom-radius{
	border-radius:  0 0 16rpx 16rpx;
}
.list-page-bottom-btn:nth-child(2){
		display: block;
		margin-top: 24rpx;
}
.placeholder-class{
	color: #B2B2B2;
}