// ------------------------去除边框-------------------------------

.no-border {
  border: none;
  outline: none;
}

// ------------------------浮动-------------------------------

.float-left {
  float: left;
}

.float-right {
  float: left;
}

// 清除浮动
.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

// ----------------------------------------------------------------

// ------------------------盒模型-----------------------------

.inline-layout {
  font-size: 0px;
  &.v-center::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 0px;
    height: 100%;
  }
  &.justify {
    text-align: justify;
  }
  &.justify::after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 0px;
  }
}

@each $vertical in top, middle, bottom {
  .vertical-#{$vertical} {
    vertical-align: $vertical;
  }
}

@each $display in none, block, inline, inline-block, inline-flex, grid, contents {
  .#{$display} {
    display: $display;
  }
}

.content-box {
  box-sizing: content-box;
}

// --------------------------------------------------------------

// -----------------------文本处理------------------------------
@each $select in none, text {
  .select-#{$select} {
    user-select: $select;
  }
}

// 溢出处理
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  &.sl /*single-line*/ {
    white-space: nowrap;
  }
  &.ml /*multi-line*/ {
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }
}

@each $align in left, center, right, justify {
  .text-#{$align} {
    text-align: $align;
  }
}

.text-nowrap {
  white-space: nowrap;
}
.text-last-justify {
  text-align-last: justify;
}
// --------------------------------------------------------------

// -------------------------经典布局---------------------------------

.w-auto {
  width: auto;
}

.w-100P {
  width: 100%;
}

.h-auto {
  height: auto;
}

.h-100P {
  height: 100%;
}

.wh-fs {
  width: 1em;
  height: 1em;
}

@each $position in static, relative, absolute, fixed, sticky {
  .#{$position} {
    position: $position;
  }
}

@each $index in auto, 0, 1, -1 {
  .zIndex-#{$index} {
    z-index: $index;
  }
}

@each $direction in left, right, top, bottom {
  .#{$direction}-0 {
    #{$direction}: 0;
  }
}

@each $size in auto, 0 {
  .margin-#{$size} {
    margin: $size;
  }

  .margin-lr-#{$size} {
    margin: 0 $size;
  }

  .margin-tb-#{$size} {
    margin: $size 0;
  }

  .margin-l-#{$size} {
    margin-left: $size;
  }

  .margin-r-#{$size} {
    margin-right: $size;
  }

  .margin-t-#{$size} {
    margin-top: $size;
  }

  .margin-b-#{$size} {
    margin-bottom: $size;
  }
}

// -------------------------flex布局---------------------------------
.flex {
  display: flex;
}
.flex-x-center {
  display: flex;
  justify-content: center;
}

.flex-y-center {
  display: flex;
  align-items: center;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-row {
  flex-direction: row;
}
.flex-col {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}
.flex-nowrap {
  flex-wrap: nowrap;
}

.flex-1 {
  flex: 1;
}
.flex-1-w {
  width: 0;
  flex: 1;
}
.flex-1-h {
  height: 0;
  flex: 1;
}
.flex-auto {
  flex: auto;
}

.flex-grow-0 {
  flex-grow: 0;
}
.flex-grow {
  flex-grow: 1;
}

.flex-shrink-0 {
  flex-shrink: 0;
}
.flex-shrink {
  flex-shrink: 1;
}

.justify-start {
  justify-content: flex-start;
}
.justify-end {
  justify-content: flex-end;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.justify-around {
  justify-content: space-around;
}

.items-start {
  align-items: flex-start;
}

.items-end {
  align-items: flex-end;
}

.items-center {
  align-items: center;
}
// --------------------------------------------------------------
