@mixin textLineClamp($num) {
  @if $num == 1 {
    white-space: nowrap;
  } @else if $num > 1 {
    display: -webkit-box;
    -webkit-line-clamp: $num;
    -webkit-box-orient: vertical;
  }
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin safe-padding-bottom{
	padding-bottom: 0;
	/*兼容 IOS<11.2*/
	padding-bottom: constant(safe-area-inset-bottom);
	padding-bottom: env(safe-area-inset-bottom);
}


@mixin safe-margin-bottom{
	margin-bottom: 0;
	/*兼容 IOS<11.2*/
	margin-bottom: constant(safe-area-inset-bottom);
	margin-bottom: env(safe-area-inset-bottom);
}

@mixin borderHalfPx($borderColor: #ddd, $borderRadius: 0, $borderTop: 0, $borderRight: 0, $borderBottom: 0, $borderLeft: 0, $borderStyle: solid) {
    position: relative;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 200%;
        height: 200%;
		    box-sizing: border-box;
        border-radius: $borderRadius * 2;
        border: $borderTop $borderStyle $borderColor;
        border-right-width: $borderRight;
        border-bottom-width: $borderBottom;
        border-left-width: $borderLeft;
        transform-origin: 0 0;
        -webkit-transform-origin: 0 0;
        transform: scale(.5, .5);
        -webkit-transform: scale(.5, .5);
    }
}
// 0.5px
@mixin borderHalfPxRound($borderColor: #ddd, $borderRadius: 0) {
     @include borderHalfPx($borderColor, $borderRadius, 1rpx, 1rpx, 1rpx, 1rpx);
}