	.p-tabBar-search {
		width: 100%;
		height: 104rpx;
		background: #ffffff;
		display: flex;
		align-items: center;
		padding: 0 24rpx;
		box-shadow: 0px 8rpx 16rpx 0px rgba(0, 0, 0, 0.04)
	}
.p-tabBar-search-input-wrapper {
		width: 0;
		flex: 1;
		height: 68rpx;
		background: #f8f8f8;
		border-radius: 34rpx;
		padding: 0 24rpx;
		display: flex;
		align-items: center;

		.p-tabBar-search-input-icon {
			flex-shrink: 0;
			width: 32rpx;
			height: 32rpx;
			margin-right: 8rpx;
		}

		.p-tabBar-search-input {
			height: 40rpx;
			min-height: 40rpx;
			font-size: 28rpx;
			color: #333;
			line-height: 40rpx;

			&::placeholder {
				color: #999999;
			}
		}

		.p-tabBar-search-input-btn {
			flex-shrink: 0;
			margin-left: auto;
			padding-left: 8rpx;
			height: 36rpx;
			font-size: 26rpx;
			color: $color-primary;
			line-height: 36rpx;
		}
	}